

header{
    background-color:none;
    width: 300px;
    position: fixed;
    top: 10px;
    left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    color:rgb(119, 144, 165);
    background-color: whitesmoke;
    margin: auto;
    background-image: url(../img/picnic3.jpg);
    background-size: cover;
    background-attachment: fixed;
}



nav{
    background-color: whitesmoke;
    width: 250px;
    position: fixed;
    top: 20%;
    left: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul{
    position:fixed;
    margin-top: 200px;
}

#overflowtext{
    background: whitesmoke;
  color: white;
  padding: 15px;
  width: 70%;
  height: 300px;
  overflow: scroll;
  border: 3px groove rgb(92, 15, 18);
}
p{
    color: black;
}


main{
    width: 735px;
    margin-left: 450px;
    
}




.column1{
    width: 300px;
    float: left;
    margin: 0px;
    height: 500px;
    padding: 30px;
    border: 0px inset rgb(88, 150, 109);
    background-color: whitesmoke;
    
}


.column2{
    width: 300px;
    float: right;
    margin: 0px;
    height: 500px;
    padding: 30px;
    border: 0px inset rgb(88, 150, 109);
    background-color: whitesmoke;
}

.column1, .column2 p{
    width: 250px;
}


h1{
    text-align: center;
    color: rgb(71, 127, 81);
}
h2{
    color:rgb(38, 7, 12);
}
h3{
    color: rgb(83, 10, 10)
}

h4{
    color: rgb(88, 150, 109);
}

h5{
    color: rgb(73, 18, 24)
}
footer{
    color:rgb(119, 144, 165);
    background-color: none;
    position: fixed;
    margin-top: 1px;
    top: 600px;
    left: 25px;
}

#splashgif{
    margin:auto;
   text-align: center;
    margin-top: 10%;
    width:500px;
    height:50;
    
    border-radius: 80%;

}

#app{
    margin: auto;
    padding: 10px;
    position: fixed;
    margin-top: 170px;
   

   
}


